<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h3>Please fill the form</h3>
    <form action="/signup" method="post">
        <label for="">Username</label>
        <input type="text" id="username" placeholder="Create your username(only letters & numbers)" required>
        <br>
        <label for="">First Name</label>
        <input type="text" id="fname" placeholder="Enter your first name" required>
        <br>
        <label for="">Last Name</label>
        <input type="text" id="lname" placeholder="Enter your last name" required>
        <br>
        <label for="">E-Mail</label>
        <input type="email" id="email" placeholder="Enter your email" required>
        <br>
        <label for="">Password</label>
        <input type="password" id="password" placeholder="Enter your password" required>
        <br>
        <label for="">Re-type Password</label>
        <input type="password" id="re-password" placeholder="Re-type your password" required>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>